@import '../app//mixins';
@import '../app//variables';

.page-footer {
  position: relative;
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  color: $color-font-dimmed;
  background-color: $color-main-back;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    border-radius: 50%;
    background-image: linear-gradient(
      to right,
      $color-grad-orange1,
      $color-grad-orange2
    );
  }
}
.page-description {
  flex: 0 1 60rem;
  &__paragraph {
  }
}
.page-social {
  &__youtube {
  }
  &__link {
  }
  &__udemy {
  }
}
