@import '../app/mixins';
@import '../app/_variables';

.search {
  display: flex;
  align-items: center;
  &__input {
    width: 350px;
    font: inherit;
    display: block;
    padding: 0.5rem 2rem;
    background-color: $color-input-back;
    border: 2px solid $color-button-border;
    border-radius: 5rem;
  }
  &__button {
    display: block;
    padding: 0.5rem 1.2rem;
    border: none;
    margin-left: -5rem;
    background-image: linear-gradient(
      to right,
      $color-grad-orange1,
      $color-grad-orange2
    );
    border-radius: 2rem 5rem 5rem 2rem;
  }
  &__button:hover &__icon {
    transform: rotate(90deg);
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    color: white;
    fill: white;
    transition: all 0.3s;
  }
}
